@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.title {
    display: inline-block;
    color: rgb(154, 219, 41);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 18px;
    margin: 0 !important;
  }

  /* Add glow effect to an element with class "glow" */
@keyframes neon {
    0% {
      color: #000;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(255, 255, 255, 0.9); /* Neon glow effect */
    }
    50% {
      color: rgb(154, 220, 40);
      text-shadow: 0 0 20px rgba(154, 220, 40, 0.9),
        0 0 30px rgba(154, 220, 40, 0.9); /* Intermediate glow effect */
    }
    100% {
      color: #000;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(255, 255, 255, 0.9); /* Back to the neon glow effect */
    }
}
  
  .glow {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    letter-spacing: 2px; /* Adjust letter spacing as needed */
    animation: neon 4s infinite; /* Adjust the duration as needed */
  }

.desc {
    font-size: 24px;
    letter-spacing: 2px; /* Adjust letter spacing as needed */
    font-weight: 400;
    margin: 0 !important;
}

.glowed-img {
    z-index: 0;
    width: 160px;
}

.promo {
    position: relative;
    height: 100vh;
  }
  
.promo .glowing-img , .promo .glowed-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
}

.glowing-img {
  z-index: 0;
  left: 49.1% !important;
  width: 100px;
}

.promo .glowed-img {
  width: 1000px;
  left: 51%;
  opacity: 0;
  animation: glow 4s ease-in-out infinite;
}

@media (max-width: 900px) {
  .glowed-img {
    left: 53% !important;
  }
}
  
@keyframes glow {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}
  
  
.promo .desc {
    text-align: center;
    position: absolute;
    top: calc(55% + 200px);
    left: 50%;
    transform: translate(-50% ,-50%);
}

@media (max-width: 900px) {
  .promo .desc {
      width: 80%;
      top: calc(60% + 200px);
  } 
}

@media (min-width: 1200px) {
  .glowed-img{
    left: 50.2% !important;
  }
}